.vertical-tabs-container {
    display: flex;
  }

  .vertical-tabs-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  

  .vertical-tab {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    transition: background-color 0.3s;
  }
  

  .vertical-tab--selected {
    background-color: #007bff; 
    color: #fff; 
  }