.btn-container {
    padding-bottom: 20px;
    padding-right: 20px;
    margin-top: 20px;
}

.btn-MakeAnOffer,
.btn-MakeAnOffer:hover,
.btn-cancel,
.btn-cancel:hover {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
}

.btn-MakeAnOffer,
.btn-MakeAnOffer:hover {
    width: 166px;
    height: 35px;
}

.btn-cancel,
.btn-cancel:hover {
    width: 108px;
    height: 35px;
}

.btn-MakeAnOffer {
    background: #54C7E9;
    color: white;
}

.btn-MakeAnOffer:hover {
    background: white;
    color: #54C7E9;
    border-color: #54C7E9;
    border: 1px solid #4C4C4C;
}

.btn-cancel {
    background-color: white;
    border: 2px solid #4C4C4C;
    color: #4C4C4C;

}

.btn-cancel:hover {
    background-color: rgba(187, 179, 179, 0.329);
    border: 2px solid #4C4C4C;
    color: #837d7d;
}

.head-text {
    border-radius: 20px;
    background: #EDEDED;
    max-width: 528px;
}

.content-text {
    border-radius: 20px;
    background: #EDEDED;
    max-width: 528px;


}