@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;

}

body {
  background: #F6F6F6;
  width: 100%;
  height: 100vh;
}

main {
  background-color: white;
}









/* .items{
  display: flex;
  justify-content: space-between;
} */

.featureBox p {
  color: #8B8B8B;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.featureBox h3 {
  color: #4C4C4C;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  top: -18px;
  position: relative;
}

.featureBox {
  margin-bottom: 20px !important;

}

div.images-lists {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin: 10px;
}

.images-lists img {
  width: 290px;
  height: 200px;
  border-radius: 20px;
}

.images-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-container {
  position: relative;
  margin: 8px;
}

.image-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-family: 'Inter';
  font-weight: 600;
}

.image-container:hover .image-overlay {
  opacity: 1;
}

button.loginBtn {
  width: 155px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 21px;
  background: #54C7E9;
  border: none;
  outline: none;
  color: #FFF;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h5.modal-title {
  color: #4C4C4C;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}

.modal-body {
  border: none;
}

.modal-title {
  display: flex;
  justify-content: center;
  text-align: center;
  left: 35%;
  position: relative;
}

header {
  background-color: white;
  width: 100%;
}

.modal-header {
  border-bottom: none;
}

div.modal-icon {
  display: flex;
  justify-content: center;
  color: red;
}

.modal-icon img {
  width: 43px;
  height: 39px;
  transform: rotate(-90deg);
  flex-shrink: 0;
}

div.modal-dialog {
  /* top: -91px; */
  position: relative;
  width: 330px;
  height: 510px;
  flex-shrink: 0;
  border-radius: 20px;
  border: none;
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
}

.google-signinBtn {
  display: flex;
  justify-content: center;
}

.googleBtn {
  width: 290px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 23px;
  background: #FFF;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.25);
  border: none;
}

.googleBtn img {
  width: 237.82px;
  height: 37px;
  flex-shrink: 0;
  border-radius: 23px;
}

.modal-body p {
  color: #8B8B8B;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.modal-body input {
  width: 290px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 23px;
  background: #EDEDED;
  border: none;
  outline: none;
  padding-left: 20px;
}

.forget-password {
  color: #F8665D;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  top: 8px;
  left: 11px;
  position: relative;
}

.modalBtn {
  left: 23%;
  position: relative;
  align-items: center;
}

.more-text {
  width: 225px;
  height: 51px;
  flex-shrink: 0;
  left: 11%;
  position: relative;
}

.morep {
  color: #4C4C4C;
  text-align: center;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 215.385% */
}

.text-blue {
  color: #54C7E9;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-decoration-line: underline;
  position: relative;
  cursor: pointer;
  font-size: 1rem;
}

.card-details p {
  color: #8B8B8B;
  font-family: 'Inter';
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.viewEditBtn {
  display: flex;
  justify-content: center;
  width: 100px;
}

.path {
  display: flex;
  flex-direction: row;
}

/* .path h2{
  font-family: 'Inter';
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-right: 20px;
}
.path h2.inactive{
  color: #8B8B8B;
}
.path h2.active{
  color: #4C4C4C;
} */

/*Modal*/

.modal-content {
  border-radius: 20px;
  border: none;
}

.google-icon {
  width: 237.82px;
  height: 37px;
  flex-shrink: 0;
  object-fit: cover;
}

.modal-body input[type='text'],
.modal-body input[type='password'] {
  width: 290px;
  height: 45px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  left: 5px;
  position: relative;
}

p.textp {
  color: #4C4C4C;
  text-align: center;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  top: -10px;
  position: relative;
}

.step3 {
  width: 100%;
}

.step2 {
  width: 100%;
}

.step1 {
  width: 100%;
}

@media (max-width: 768px) {
  .step3 {
    width: 100%;
  }
  .step2 {
    width: 100%;
  }

  .step1 {
    width: 100%;
  }
}
.hidden-tab-list {
  display: none;
}




